@import '../../styles/Topography.scss';

.message {
    position: fixed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: black;
    animation: popsUp 1s ease-in both;
}

.error {
    border: 2px solid red;
    box-shadow: 5 5 0 rgba(255, 0, 0, 0.46);

}

.alert {
    border: 2px solid $Primary;
    box-shadow: 5 5 0 #00ff4081;

}

.alertIcon {
    fill: rgb(73, 73, 73);
}

@keyframes popsUp {
    0% {
        opacity: 0;
        transform: translate(-50%, 20px);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0px);
    }
}
