$Primary: #00FF41;
$Secondary: #00e5ff;
$Tertiary: #0EEAFD;
$Neutral: #0D0D0D;
$card-color: #201F1F;
$card-color-secondary: #131313;
$white-color: #FCFCFC;

$Title-font-size: 32px;
$Larger-title-font-size: 64px;
$Label-font-size: 12px;
$Layout-spacing: 12px;
