@import '../styles/Topography.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: var(--font-plus-jakarta-sans);
  color: $white-color;
}


body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: $Neutral;
  transition: .5s opacity;
}

main {
  width: 100%;
  height: 100%;

}

/* Tipografia padrão */

h1, h2, h3, h4, h5, h6{
  line-height: 1.4;
  font-weight: bold;
  font-family: var(--font-lexend);
}

/* =========================
   4. ELEMENTOS INTERATIVOS
========================= */

button {
  cursor: pointer;
  background-color: transparent;
}

.page-transition {
  animation: fadeIn .5s  ease-in-out both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


