@import '../../../styles/Topography.scss';

.AddTreino {
    margin: 0 auto;
    max-width: 1285px;
    min-width: 321px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: $padding-size;


    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 60%;

        .LayoutCard {
            display: flex;
            justify-content: center;
            align-items: center;

        }

        label {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }

        input {
            background-color: #1d1d1d;
            padding: 12px;
            border-radius: 7px;
        }

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }

            .inputRadio {
                appearance: none;
                background-color: transparent ;
                margin: 0;
                width: 1.15em;
                height: 1.15em;
                border: 0.15em solid #00ff41;
                border-radius: 50%;
                display: grid;
                place-content: center;
                
            }

            // inner circle style
            .inputRadio::before {
                content: "";
                width: 0.65em;
                height: 0.65em;
                border-radius: 50%;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em #00ff41;
            }

            //inner circle appears when checked
            .inputRadio:checked::before {
                background-color: #00ff41;
                transform: scale(1.6);
            }
        }

        
    }
}